@import url("https://fonts.googleapis.com/css?family=Teko|Noto+Sans|Source+Sans+Pro:300,400,600");

:root {
  --background-color: #fff;
  --color-blue: hsl(210, 88%, 56%);
  --color-grey: hsl(213, 30%, 29%);
  --color-grey-light: hsl(213, 30%, 59%);
  --color-grey-lighter: hsl(213, 30%, 79%);
  --color-orange: hsl(34, 26%, 89%);
  --color-orange-dark: hsl(34, 76%, 89%);
}

.game-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--color-blue);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.game {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.header__inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.solver {
  padding: 10px 40px;
  cursor: pointer;
  background-color: var(--color-grey);
  border: none;
  color: #fff;
  border-radius: 5px;
}
.options {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete {
  background-color: var(--color-grey);
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
}

.game__board {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  margin: 30px 0;
  border: 2px solid var(--color-grey);
  border-collapse: collapse;
}

.game__row:nth-child(3n) {
  border-bottom: 2px solid var(--color-grey);
}

.game__cell {
  border: 1px solid var(--color-grey-lighter);
  padding: 12px 16px;
  color: var(--background-color);
  cursor: pointer;
}

.game__cell.game__cell--filled {
  color: var(--color-grey);
}

.game__cell.game__cell--userfilled {
  color: var(--color-grey-light);
}

.game__cell.game__cell--selected {
  color: var(--color-orange);
  background-color: var(--color-orange);
}

.game__cell.game__cell--filled.game__cell--selected {
  color: var(--color-grey);
  background-color: var(--color-orange);
}

.game__cell.game__cell--userfilled.game__cell--selected {
  color: var(--color-grey-light);
  background-color: var(--color-orange);
}

.game__cell.game__cell--highlightselected {
  color: var(--color-orange-dark);
  background-color: var(--color-orange-dark);
}

.game__cell.game__cell--filled.game__cell--highlightselected {
  color: var(--color-grey);
  background-color: var(--color-orange-dark);
}

.game__cell.game__cell--userfilled.game__cell--highlightselected {
  color: var(--color-grey-light);
  background-color: var(--color-orange-dark);
}

.game__cell:nth-child(3n) {
  border-right: 2px solid var(--color-grey);
}
.difficult {
  cursor: pointer;
  font-size: 20px;
  color: var(--color-blue);
}
.container {
  position: relative;
  max-width: 674px;
  width: 100%;
  padding: 0 20px;
}
.popup {
  position: absolute;
  background-color: var(--color-grey-lighter);
  padding: 10px 20px;
  right: 30px;
  top: 140px;
  border-radius: 5px;
}
.won {
  position: absolute;
  font-size: 90px;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  color: var(--color-blue);
  transform: translate(-50%, -50%);
}
.popup__item {
  color: #fff;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.number {
  cursor: pointer;
  font-size: 20px;
  padding: 7px 13px;
  background-color: var(--color-grey);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}
